# BUILT IN FUNCTIONS OF LIST

In [1]:
l1=['INDIA','USA','RUSSIA']

# APPEND FUNCTION IS USED TO ADD AN ELEMENT AT THE END OF THE LIST.

In [2]:
l1.append('KOREA')

In [3]:
print(l1)

['INDIA', 'USA', 'RUSSIA', 'KOREA']

# INSERT FUNCTION IS USED TO ADD AN ELEMENT AT THE DESIRED LOCATION.

In [4]:
l1.insert(2,'GERMANY')

In [5]:
print(l1)

['INDIA', 'USA', 'GERMANY', 'RUSSIA', 'KOREA']

In [6]:
l1.insert(1,'KOREA')

# REMOVE FUNCTION IS USED TO REMOVE FIRST OCCURENCE OF THE ELEMENT.

In [8]:
print(l1)

['INDIA', 'KOREA', 'USA', 'GERMANY', 'RUSSIA', 'KOREA']

# KOREA IS APPEARING TWO TIMES SO WE WILL REMOVE KOREA USING REMOVE FUNCTION.

In [9]:
l1.remove('KOREA')

In [10]:
print(l1)

['INDIA', 'USA', 'GERMANY', 'RUSSIA', 'KOREA']

# POP FUNCTION IS USED TO REMOVE AN ELEMENT USING ITS INDEX NUMBER.

In [11]:
l1.pop(2)

'GERMANY'

In [12]:
print(l1)

['INDIA', 'USA', 'RUSSIA', 'KOREA']

# EXTEND FUNCTION IS USED TO ADD MANY ELEMENTS IN THE LIST.

In [15]:
l1.extend(['GERMANY','ROMANIA','JAPAN','INDONESIA'])

In [16]:
print(l1)

['INDIA', 'USA', 'RUSSIA', 'KOREA', 'GERMANY', 'ROMANIA', 'JAPAN', 'INDONESIA']

# NUMERICAL BUILT IN FUNCTIONS OF LIST.

In [17]:
l2=[12,18,95,2,35,89,12,78,46,3,78,12,89,95,45,75]

# MAX FUNCTION IS USED TO SHOW THE LARGEST ELEMENT.

In [18]:
max(l2)

95

# MIN FUNCTION IS USED TO SHOW THE SMALLEST ELEMENT.

In [19]:
min(l2)

2

# SUM FUNCTION IS USED TO ADD ALL THE ELEMENTS OF THE LIST.

In [20]:
sum(l2)

784

# SORT FUNCTION IS USED TO ARANGE THE ELEMENTS IN THE ASCENDING ORDER.

In [21]:
l2.sort()

In [22]:
print(l2)

[2, 3, 12, 12, 12, 18, 35, 45, 46, 75, 78, 78, 89, 89, 95, 95]

# LEN FUNCTION IS USED TO COUNT THE TOTAL NUMBER OF ELEMENTS IN THE LIST.

In [23]:
len(l2)

16

# COUNT FUNCTION IS USED TO COUNT THE NUMBER OF OCCURENCES OF A PARTICULAR ELEMENT IN THE LIST.

In [24]:
l2.count(12)

3

In [25]:
l2.count(95)

2

In [29]:
l1.count('RUSSIA')

1

# REVERSING A LIST

In [27]:
print(l2)

[2, 3, 12, 12, 12, 18, 35, 45, 46, 75, 78, 78, 89, 89, 95, 95]

In [30]:
l2[::-1]

[95, 95, 89, 89, 78, 78, 75, 46, 45, 35, 18, 12, 12, 12, 3, 2]