# WRITE A PYTHON PROGRAM TO DISPLAY THE MULTIPLICATION TABLE OF A NUMBER

In [3]:
number=int(input("Enter the number"))


for i in range(1,13):

  num=number*i

  print(number,"*", i, "=", num)

Enter the number7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84