# PYTHON PROGRAM TO FIND THE LARGEST NUMBER IN A LIST

In [5]:
my_list=[2,4,8,56,9,84,26,1,3,54,66,102,76]


max_list=max(my_list)


print("The largest number in the list is ",max_list)

The largest number in the list is  102

# PYTHON PROGRAM TO FIND THE SECOND LARGEST NUMBER IN THE LIST

In [6]:
my_list_1=[25,4,85,96,35,55,21,36,102,39]


max_list=max(my_list_1)

my_list_1.remove(max_list)


max_second_no=max(my_list_1)


print("The second largest number in the list is ", max_second_no)

The second largest number in the list is  96

# PYTHON PROGRAM TO PUT EVEN AND ODD ELEMENTS IN A LIST INTO TWO DIFFERENT LISTS

In [8]:
list_even=[]

list_odd=[]

my_list_2=[2,5,9,45,63,78,35,7,21,33]

for i in my_list_2:

  if i%2==0:

    list_even.append(i)

  else:

    list_odd.append(i)


print("The list with even numbers is ",list_even)


print("The list with odd numbers is ",list_odd)

The list with even numbers is  [2, 78]
The list with odd numbers is  [5, 9, 45, 63, 35, 7, 21, 33]

# PYTHON PROGRAM TO MERGE TWO LIST AND SORT IT

In [11]:
list_1=[12,5,7,58,69,36,22]

list_2=[65,52,44,1,28,98,102]


merge_list=list_1+list_2

merge_list.sort()

print("The sorted list after merging two list is ",merge_list)

The sorted list after merging two list is  [1, 5, 7, 12, 22, 28, 36, 44, 52, 58, 65, 69, 98, 102]

# PYTHON PROGRAM TO FIND THE SECOND LARGEST NUMBER IN A LIST USING BUBBLE SORT

In [19]:
list_3=[12,5,74,65,96,48,6,7,102,150,36,86]

length=len(list_3)


for i in range(0,length):

  for j in range(0,length-i-1):

    if (list_3[j] > list_3[j+1]):
      
      
      temp=list_3[j]

      list_3[j]=list_3[j+1]

      list_3[j+1]=temp



print("The second largest number in the list found using bubble sort is", list_3[length-2])

The second largest number in the list found using bubble sort is 102

# PYTHON PROGRAM TO SORT A LIST ACCORDING TO THE LENGTH OF THE ELEMENTS

In [21]:
name_list=['Suresh','Madhavan','Jackie Bhosale','Anand','Jack']

name_list.sort(key=len)

print("The list of names after sorting it according to the length of the elements is", name_list)

The list of names after sorting it according to the length of the elements is ['Jack', 'Anand', 'Suresh', 'Madhavan', 'Jackie Bhosale']

# PYTHON PROGRAM TO CREATE A LIST OF TUPLES WITH THE FIRST ELEMENT AS THE NUMBER AND THE SECOND ELEMENT AS THE SQUARE OF THE NUMBER

In [24]:
lower_range=int(input("Enter the lower range: "))


upper_range=int(input("Enter the upper range: "))


a=[(x,x**2) for x in range(lower_range,upper_range+1)]

print(a)

Enter the lower range: 2
Enter the upper range: 8
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]